:root {
	--text-color__base: #333;
	--bg-color__base: lightblue;
	--bg-color__input: #f00;
}

body {
	width: 500px;
	padding: 0;
	margin: 2em auto 0;
	color: var(--text-color__base);
	background: var(--bg-color__base);
}

.input {
	background: var(--bg-color__input);
}

h3 {
	&:hover {
		color: blue;
	}	
}